<h1>Follow Users</h1>

<table class="table">
  <tbody>
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
  <td><%= image_tag #フォロワーの記述.get_profile_image(100,100) %></td>
  <td><%= #フォロワーの名前.name %></td>
  <td><%= #フォロー数 %></td>
  <td><%= #フォロワー数 %></td>
  <td><%= #そのフォローの詳細ページに行くリンク %></td>
 </tr>
  </tbody>
</table>

